<div class="w-full h-full overflow-auto lg:bg-[var(--Charcoal)]">
  <div
    class="h-full w-full bg-white flex flex-col lg:mt-32 lg:mx-auto lg:flex-row-reverse lg:rounded-3xl lg:py-4 lg:px-4 lg:h-auto"
    [ngClass]="{ 'lg:w-[21.5rem]': successState,'lg:w-[45rem]':!successState }"
  >
    <ng-container *ngIf="!successState; else successTemplate">
      <div
        class="w-full bg-no-repeat bg-contain h-2/5 bg-[url(assets/images/illustration-sign-up-mobile.svg)] lg:bg-[url(assets/images/illustration-sign-up-desktop.svg)] lg:h-[28rem] lg:w-[55%]"
      ></div>
      <div class="lg:px-4 lg:pt-12 lg:pb-4">
        <h1 class="text-[var(--Charcoal)] font-bold text-center text-4xl">
          Stay updated!
        </h1>
        <p
          class="text-xl py-0 px-[11.5px] font-normal mt-6 mb-5 lg:mt-3 lg:text-sm lg:mb-0"
        >
          Join 60,000+ product managers receiving monthly updates on:
        </p>
        <ul
          class="text-[var(--Charcoal-Grey)] flex flex-col gap-4 text-base mt-8 lg:mt-4 lg:gap-3 lg:justify-center lg:text-[var(--Charcoal)]"
        >
          <li
            *ngFor="let li of lis"
            class="flex mx-4 items-start text-base font-semibold lg:text-xs lg:font-medium"
          >
            <span
              class="mr-4 inline-block w-5 h-5 bg-no-repeat lg:w-[1rem] lg:h-[1rem] bg-contain bg-[url(assets/images/icon-list.svg)]"
            ></span>
            {{ li }}
          </li>
        </ul>
        <div class="px-4 mt-12 lg:mt-5">
          <div class="w-full flex justify-between">
            <label
              class="inline-block text-left text-[var(--Charcoal)] font-bold text-base mb-3 lg:text-[.6rem] lg:mb-1"
            >
              Email address
            </label>
            <span
              *ngIf="!this.validEmail"
              class="inline-block text-right text-[var(--Tomato)] text-sm font-bold lg:text-[.6rem]"
              >Valid email required</span
            >
          </div>
          <input
            class="w-full mb-6 h-14 rounded-lg border-[1px] border-solid border-[var(--Grey)] focus:outline-none px-3 py-1 lg:px-2 lg:h-12 hover:cursor-pointer hover:border-[var(--Charcoal-Grey)]"
            [ngClass]="{
              'border-[var(--Tomato)] text-[var(--Tomato)] bg-[#f0e5e4e7]':
                !this.validEmail
            }"
            name="email"
            id="email"
            placeholder="email@company.com"
            [(ngModel)]="email"
          />
          <button
            class="bg-[var(--Charcoal)] font-semibold w-full text-white px-6 py-5 text-base mb-12 rounded-lg lg:text-xs lg:px-4 lg:py-4 lg:mb-0 hover:cursor-pointer hover:bg-gradient-to-r from-[#ef6391] from-5% via-[rgb(255 70 62)] via-90% to-[#ff803d] to 100% hover:shadow-2xl"
            (click)="subscribe()"
          >
            Subscribe to monthly newsletter
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #successTemplate>
      <app-success
        [email]="email"
        (emitBtn)="successState = !successState"
      ></app-success>
    </ng-template>
  </div>
</div>
